* {
    font-family: 'Lucida Sans', Garamond, 'Times New Roman';
    color:brown;
}

h1.index {
    text-align: center;
}

body.index {
    background-color:blanchedalmond;
}

ul.index {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

div.index {
    text-align: justify;
    background-color: white;
    padding: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    outline: 4px solid brown;
}

div.index a {
    text-decoration: none;
    color: brown;
    font-size: 20px;
}